body {
    background-color: rgb(145, 22, 22);
    font-size: 16px;
    font-family: serif;
    font-weight: 900;
}

/*Header, the Oracle*/
.header{
    text-align: center;
    color: gold;
    padding: 1px;

    font-size: 2.5rem;
    border: 2px solid gold;
    margin: 20px auto;
    padding: 5px 50px;
    width: 30%;
}

/*Input area*/
.inputArea {
    display: flex;
    justify-content: center;

}
.firstcontainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    flex-direction: column;
    font-size: 1.3rem;
    width:160px;
    padding: 1px;
    margin: 1px;

    color: rgb(182, 119, 77);


}

label[for="question"], 
.you {
    margin-left: auto;

    color: rgb(182, 119, 77);
    font-size: 1.3rem;
}


.inputbox {
    width: 250px;
    height: 20px;
}



/*Your question*/

.userQuestionContainer {
    display: flex;
 
    align-items: right;
    flex-direction: row;
    width: 350px;
    height: 60%;
    font-size: 1.3rem;
    margin: 1px;
    padding: 1px;

  

}

#userQuestion {
    width: 200px;
    color:  rgb(182, 119, 77);

    width: 100%;
    height: 20px;
    font-size: 1.3rem;
}


.askButton {
    width: 50px;
    height: 23px;

    text-align: center;
    color: rgb(71, 27, 27);
    font-size: .9rem;
    border: 2px solid gold;
    border-radius: 4px;
    cursor: pointer;


}



/*Error, bubble*/
.error {
    display: none;
    width: 200px;
    height: 30px;
    margin:  0px 10% 0px 0px;
    right: 20%;
    border: 6px solid #532121;
    padding: 10px;
    text-align: center;

    position: absolute;
    background-color: antiquewhite;
    border-radius: .4em;
    z-index: 1;

}
.error:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 41px solid transparent;
	border-top-color: antiquewhite;
	border-bottom: 0;
	border-left: 0;
	margin-left: -20px;
	margin-bottom: -20px;

}

#herbert {
    display: none;
    position: absolute;
    right: 10%;
    top: 40%;
}
.herbertBubble {
    display: none;
    width: 200px;
    height: 30px;
    margin:  0px 10% 0px 0px;
    top: 40%;
    right: 5%;
    border: 6px solid #532121;
    padding: 10px;
    text-align: center;

    position: absolute;
    background-color: antiquewhite;
    border-radius: .4em;
    z-index: 1;

}

.herbertBubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 41px solid transparent;
    border-top-color: antiquewhite;
    border-bottom: 0;
    border-left: 0;
    margin-left: -20px;
    margin-bottom: -20px;

}



/*The Oracle img and answer*/
.oraclecontainer {
    text-align: center;
    justify-content: center;
    align-items: center;

}


.oracle{
    max-width:500px;
    max-height:400px;



}


.bubble {
    width: 1000px;
    height: 200px;
    margin: 50px auto;
    border: 6px solid #532121;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    position: relative;
    background-color: antiquewhite;
    border-radius: .4em;

}




.bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 41px solid transparent;
	border-bottom-color: antiquewhite;
	border-top: 0;
	margin-left: -25px;
	margin-top: -25px;

}

.animate {
    color: rgb(105, 18, 18);
    font-size: 1.5rem;
    overflow:hidden ; /*must be, it appears slowly and the rest is hidden before appearing*/
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    word-wrap: break-word;
    letter-spacing: .15em;
    animation: typing 2.5s steps(40, end), blink-caret .75s step-end infinite;
    display: block;
    max-height: 3.5rem;

}


@keyframes typing {
    from { 
        width: 0;
}
    to  { 
        width: 100%;
    }
  }


  /*Media queries*/

    /*Media queries*/

  /* 768px */
@media screen and (max-width: 1000px){
    

    .header {
        width: 90%;
        padding: 0px 0px 0px 0px;
        margin: 6% ;
    }
    .bubble {
        width: 92%;
        height: 90px;
        margin: 15px 0px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    footer {
        display: flex;
        justify-content: center;
    }

    

}




/* 375px */
  @media screen and (max-width: 506px) {
    html, body{
        width: 100%;
        margin: 0;
        padding: 0;

    }
    .header {
        width: 85%;
  
        padding: 0px 0px 0px 0px;
        margin: 6% ;
   

    }
    h1 {
        font-size: 1.9rem; 
        margin: 6%;
    }
    /*input area*/
    .inputArea {
        width: 100%;
 
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
 
    }

  .firstcontainer {
      width: 100%;

      margin: 0px 0px 0px 15%;


  }
  label[for="question"] {
    display: none;
  }
   .you {
    display: none;
       font-size: .9rem;
    margin: 0px 0px 0px 0px;

   }

    .inputbox {
         width: 70%;
         position: absolute;
         left: 8%;
         margin: 0px 0px 0px 0px;
    }
    .userQuestionContainer {  /*This was bigger than screen, adjusting this fixed screen size*/
        width: 100%;
        margin: 0px 0px 0px 0px;

    }

    #userQuestion {

        font-size: .9rem;
        width: 70%;
        position: absolute;
        left: 8%;
        margin: 5px 0px 0px 0px;
    }

    .askButton {
    width: 35px;
    height: 25px;
    position: relative;
    left: -110%;     


    
    }

    /*Oracle*/
    .oraclecontainer {
        width: 100%;
        justify-content: center;
        margin: 0px 0px 0px 0px;
    }

    .oracle {
        width: 50%;
        margin: 0px 0px 0px 0px;
    }

    .bubble {
        width: 85%;
        height: 90px;
        margin: 15px 0px;
        text-align: center;
        justify-content: center;
        align-items: center;

    }
    .bubble:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 37px solid transparent;
        border-bottom-color: antiquewhite;
        border-top: 0;
        margin-left: -20px;
        margin-top: -20px;
    }

    .animate {
        overflow: hidden;
        font-size: .9rem;
        white-space: wrap;
        letter-spacing: .1em;
        margin: 15px ;
        width: 100%;
        height: 100%;


    }

    

    footer {
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
        justify-content: center;

    }
}